#serviceButton{
    word-wrap: break-word;
}

@media only screen and (max-width:768px){

    #serviceButton{
        width:90vw;
        background-color: orange !important;
    }
    #serviceButton:hover{
        background-color: black !important;
        color:white !important;
    }
}